.blue{
    color: dodgerblue;
}

.pink{
    color: hotpink;
}

.mediumslateblue{
    color: mediumslateblue;
}

.yellow{
    color: yellow;
}

.aquamarine{
    color: aquamarine;
}

.deepskyblue{
    color: DeepSkyBlue;
}

.violet{
    color: violet;
}

.greenyellow{
    color: greenyellow;
}

.crimson{
    color: crimson;
}

.slategrey{
    color: slategray;
}

.tomato{
    color: tomato;
}

.springgreen{
    color: springgreen;
}

.sandybrown{
    color: sandybrown;
}

.cadetblue{
    color: cadetblue;
}

.magenta{
    color: magenta;
}

.orange{
    color: orange;
}

.green{
    color: green;
}

.teal{
    color: teal;
}

.goldenrod{
    color: goldenrod;
}