.films{
    margin: 0 100px;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 50px;
    justify-content: left;
    border: 5px solid #1A1A1D;
    background-color:#1A1A1D;
}