.movie-details{
    margin: 30px 60px;
    padding: 20px 70px 40px;
    background-color: #1A1A1D;
    color: white;
}

.short-info{
    display: flex;
    grid-column-gap: 120px;
}

.left h2{
    width: 500px;
}

.right{
    margin: 70px 0;
    font-size: 18px;
}

.right > div{
    margin: 5px 2px;
}

.red{
    color: #C3073F;
}

.container{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.rate{
    display: flex;
    grid-column-gap: 20px;
}