.post{
    width: 680px;
    height: 135px;
    border: 5px solid dodgerblue;
    padding: 10px;
    margin: 20px;
    font-size: 14px;
}

.post > h2{
    height: 50px;
}

.btnBody{
    width: 150px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
}

.btns{
    display: flex;
    grid-column-gap: 20px;
}