.links{
    display: flex;
    justify-content: center;
    border: 5px solid dodgerblue;
    margin: 30px 100px;
    padding: 20px;
}

.links > a{
    width: 150px;
    height: 30px;
    margin: 0 50px;
    padding: 10px 5px 4px;
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    text-align: center;
    transition: 500ms color, 500ms background-color;
    border: 3px solid dodgerblue;
}

.links > a:hover{
    color: dodgerblue;
    background-color: white;
}
