.form{
  border: 5px solid dodgerblue;
  width: 800px;
  margin: 20px auto;
  padding: 20px 20px;
  display: flex;
  grid-column-gap: 30px;
  align-items: center;
  justify-content: center;
}

.form > input{
  width: 300px;
  height: 30px;
  font-size: 20px;
}

.form > button{
  width: 120px;
  height: 40px;
  background-color: dodgerblue;
  color: white;
  transition: color 300ms, background-color 300ms;
  cursor: pointer;
}

.form > button:hover{
  background-color: white;
  color: dodgerblue;
}
